.request-product-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  .form-input-3 {
    width: 10rem;
    margin-right: 1%;
  }
  input.invalid-input {
    outline-color: red !important;
  }
}
