$bg-color: whitesmoke;

.cart-item-component {
  padding: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 0.25rem;
  background-color: $bg-color;
  > img {
    width: 3rem;
    height: 3rem;
    border-radius: 0.25rem;
  }
  .remove-btn svg:hover {
    color: red;
    cursor: pointer;
  }
}
