$card-bg: whitesmoke;
$box-shadow-color: #c4c4c4;

.user-card {
  border-radius: 0.25rem;
  background: $card-bg;
  padding: 18px 12px 42px 14px;
  margin: 0.5rem;
  width: 18rem;
  transition: 0.3s ease;
  box-shadow: -2px 3px 12px $box-shadow-color;
  .avatar {
    transition: 0.3s ease;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    &:hover {
      transform: scale(1.2) rotate(22deg);
    }
  }
  .name {
    font-weight: 900;
    position: relative;
    margin-top: -64px;
    font-size: 14px;
    margin-left: 84px;
    margin-right: 36px;
  }
  .location {
    font-family: "Lato";
    font-size: 13px;
    color: #121212;
    margin-left: 84px;
    margin-top: -8px;
  }
  .tags-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-left: 84px;
    .tag {
      float: left;
      margin-right: 8px;
      border: 1px solid #e6eaf8;
      border-radius: 99px;
      width: fit-content;
      padding: 3px 8px 3px 8px;
      font-size: 12px;
      color: #849fff;
      font-family: "Lato";
      font-weight: 600;
      transition: 0.3s ease;
      margin-bottom: 4px;
      &:hover {
        cursor: pointer;
        background: #849fff;
        color: #fff;
        transform: scale(0.9);
      }
      &.remove-user:hover {
        cursor: pointer;
        background: #cd0d0d;
        color: #fff;
        transform: scale(0.9);
      }
    }
  }
}
