.form-select-2 {
  position: relative;

  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
  > label {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  }
  select {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }
  select:focus,
  select:valid {
    border-color: #2c5f2d;
  }
}

@media (max-width: 584px) {
  .form-select-2 {
    margin-bottom: 15px;
    width: 100%;
  }
}
